.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.filters button {
    font-size: 18px;
    background-color:  #FF5A5F;
    color:  #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px solid white;
    border-radius: 4px;
    position: absolute;
    right: 30px; /* 30px from the right border */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    color: black;
    text-align: left;
}

.locations {
    border-right: 1px solid #dddddd;
    float: left;
}

.amenities {
    overflow: hidden;
}

.head3 {
    font-weight: 600;
    margin: 20px 10px 0px 40px;
}

.head4 {
    font-weight: 400;
    font-size: 14px;
    margin: 5px 10px 0px 40px;
}