.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.filters button {
    font-size: 18px;
    background-color:  #FF5A5F;
    color:  #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px solid white;
    border-radius: 4px;
    position: absolute;
    right: 30px; /* 30px from the right border */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    color: black;
    text-align: left;
    position: relative;
    flex: 1; /* Allow them to grow equally */
    display: flex;
    flex-direction: column; /* Ensure content is stacked vertically */
    box-sizing: border-box;
}

.locations {
    border-right: 1px solid #dddddd;
    float: left;
}

.head3 {
    font-weight: 600;
    margin: 20px 10px 0px 40px;
}

.head4 {
    font-weight: 400;
    font-size: 14px;
    margin: 5px 10px 0px 40px;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 10px;
    position: relative;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
}


.popover ul {
    list-style: none;
    text-align: left;
    padding-left: 10px;
}

.popover li {
    margin: 2px 0px 5px 0px;
    list-style: none;
    padding-left: 20px;
    display: block;
    grid-row-gap: 4px;
}

.popover h2 {
    font-size: 16px;
    margin-bottom: 0px;
}

div:hover > .popover {
    display: block;
    cursor: pointer;
}
.places {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block; /* Allows horizontal stacking */
    vertical-align: top; /* Aligns top for inline-block elements */
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}
